<%- include('./templates/header.ejs')%>

    <body>
        <div class="container">
            <%- include('./templates/navIndex')%>
        </div>
        <div class="secondDiv corner container">
            <br>
            <br>
            <div class="d-flex align-items-center justify-content-center divDescription ">
                <div class="container h-100 w-75 ">
                    <div>
                        <h3 class="text-center"> Empresa de Eventos: EventMaster</h3>
                    </div>
                    <br>
                    <div>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate harum omnis quibusdam
                            reiciendis eius soluta neque perspiciatis voluptas quidem porro beatae, ad eligendi, ipsum,
                            laudantium aperiam temporibus consequuntur. Veritatis, asperiores! Lorem ipsum dolor sit,
                            amet consectetur adipisicing elit. Explicabo dolore cupiditate voluptatum, beatae tempora
                            eius quo impedit perspiciatis expedita numquam cum saepe itaque maxime consequatur, incidunt
                            unde doloribus odio sed? Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Consequatur maxime a tenetur autem facere excepturi! Labore perferendis amet quas, veritatis
                            nulla eligendi. Ex incidunt placeat temporibus, provident vitae accusamus vel.</p>
                    </div>
                    <div>
                        <div class="container mt-5">
                            <h3>Contacto:</h3>
                            <p>Puedes contactarnos a través de nuestras redes sociales:</p>
                            <div class="row">
                                <div class="col">
                                    <!-- Logo de Facebook -->
                                    <a href="https://www.facebook.com/tu_pagina_de_facebook" target="_blank">
                                        <i class="fab fa-facebook fa-2x"></i>
                                    </a>
                                    <!-- Logo de WhatsApp -->
                                    <a href="https://wa.me/+573227076137" target="_blank">
                                        <i class="fab fa-whatsapp fa-2x"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <%- include('./templates/footer.ejs')%>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
        </html>